<!DOCTYPE html>
<html>
    <head>
        <title>WhatsLikeApp</title>
    </head>
    <body>     
        <form id="logina" event='/' method="POST" >
            Usename :
            <input type="text" name="usna" "/>
            <br>
            Password :
            <input type="password" name="pswda" "/>
            <br>
            <input type="submit" id="loga" value="Login"  />
        </form>
        
    </body>
</html>